{% load static %}
<nav class="sidebar">
  <header class="logo">
    <span class="image"> <img src="{% static 'img/logo.png' %}" alt="logoxx" /></span>
    <span class="name">Achmad Irfan Afandi</span>
  </header>
  <!-- <div class="toggles"><i class="bx bxs-right-arrow toggle"></i></div> -->

  <!-- <div class="icon"> -->
  <div class="icon-social">
    <a href="https://www.linkedin.com/in/achmad-irfan-afandi-9661131a6/">
      <i class="bi bi-linkedin bi-lg custom-icon"></i>
    </a>
    <a href="https://github.com/achmad-irfan">
      <i class="bi bi-github bi-lg custom-icon"></i>
    </a>
    <a href="https://www.facebook.com/achmad.irfan.754">
      <i class="bi bi-facebook bi-lg custom-icon"></i>
    </a>
    <a href="https://www.facebook.com/achmad.irfan.754">
      <i class="bi bi-twitter bi-lg custom-icon"></i>
    </a>
    <a href="https://www.facebook.com/achmad.irfan.754">
      <i class="bi bi-instagram bi-lg custom-icon"></i>
    </a>
  </div>
  <!-- </div> -->

  <div class="menu">
    <a href="/">
      <div class="menu-link">
        <i class="bx bx-home"></i>
        <div class="contentMenu">HOME</div>
      </div>
    </a>

    <a href="{% url 'app_about:about' %}">
      <div class="menu-link">
        <i class="bi bi-file-earmark-person"></i>
        <div class="contentMenu">ABOUT</div>
      </div>
    </a>

    <a href="{% url 'app_education:education' %}">
      <div class="menu-link">
        <i class="bx bxs-graduation"></i>
        <div class="contentMenu">EDUCATION</div>
      </div>
    </a>

    <a href="{% url 'app_skill:skill' %}">
      <div class="menu-link">
        <i class="bx bx-wrench"></i>
        <div class="contentMenu">SKILL</div>
      </div>
    </a>

    <a href="{% url 'app_projects:projects' %}">
      <div class="menu-link">
        <i class="bx bx-building"></i>
        <div class="contentMenu">PROJECTS</div>
      </div>
    </a>

    <a href="{% url 'app_services:services' %}">
      <div class="menu-link">
        <i class="bx bx-support"></i>
        <div class="contentMenu">SERVICES</div>
      </div>
    </a>

    <a href="{% url 'app_contact:contact' %}">
      <div class="menu-link">
        <i class="bx bxs-contact"></i>
        <div class="contentMenu">CONTACT</div>
      </div>
    </a>
  </div>
</nav>
