{% extends 'base.html' %} {% load static %}

<!-- Link CSs-->
{% block css_app%}
<!-- CSS Main-->
<link rel="stylesheet" type="text/css" href="{% static "css\styles.css" %}" />
<!-- CSS App General-->
<link rel="stylesheet" type="text/css" href="{% static "about\css\styles.css" %}" />
<!-- CSS App Projects-->
<link rel="stylesheet" type="text/css" href="{% static "projects\css\styles.css" %}" /> {% endblock %}

<!--Isi Content -->
{% block contain_isi %} 
{% include 'projects/snippets/slide-projects.html' %} 
{% include 'projects/snippets/buttonProject.html' %} {% endblock %}
