{% extends 'base.html' %} {% load static %}

<!-- Link CSs-->
{% block css_app %}
<!-- CSS Main-->
{% include 'snippets/main_css.html' %}
<!-- CSS App General-->
{% include 'about/snippets/main_app_css.html' %}
<!-- CSS App Projects-->
<link rel="stylesheet" type="text/css" href="{% static "projects\css\styles.css" %}" />
<!-- Akhir Block -->
{% endblock %}

<!--Isi Content -->
{% block contain_isi %}

<div class="app-title">{{title}}</div>
<hr />
<div class="isi">
  <!--Project Menu -->
  {% include 'projects/snippets/menuProject.html' %}
  <!--Project Thumbnail  -->
  {% include 'projects/snippets/thumbnailProject.html' %}
  <!--Project Button -->
</div>

{% endblock %}
